img{
  max-height: 100%;
  max-width: 100px; /* Regola la larghezza massima desiderata dell'immagine */
}
.btn{
  background-color: #b81d24 !important;
  color: white;
}
i{
  color: white !important;

}
