
<div class="container">
  <div>
    <div class="task">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between  align-items-center" *ngFor="let task of taskCompletate">
          <div>
          {{  task.id + "ˆ" }}
          <span class="testo-barrato">{{ task.title }}</span>
        </div>
          <div class="d-flex justify-content-end">
  <button class="btn btn-link text-end px-0" (click)="cancellaTask(task)" data-toggle="tooltip" title="ELIMINA Task">
              <i class="bi bi-trash text-danger"></i>
            </button>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
