
<div class="container">
  <div>
    <div class="task">
      <ul class="list-group">
        <li class="list-group-item border d-flex justify-content-between  align-items-center " *ngFor="let task of tasks">
          {{  task.id +"ˆ" }}
           {{  task.title }}
          <div class="d-flex justify-content-end">
          <button class="btn btn-link" (click)="spostaCompletati(task)">
            <i class="bi bi-check-lg text-success"  data-toggle="tooltip" title="Segna come completato"></i>
          </button>
          <button class="btn btn-link text-end px-0" (click)="cancellaTask(task)"  data-toggle="tooltip" title="ELIMINA Task">
            <i class="bi bi-trash text-danger"></i>
          </button>
        </div>
        </li>
      </ul>
    </div>
    <div class="input">
      <div class="alert alert-danger mb-5" *ngIf="messaggioNoTask">Ops... devi aggiungere una task!</div>
      <div class="alert alert-info mb-5" *ngIf="aggiuntaTask">Aggiunta in corso...</div>
      <div class="input-group my-4">
        <input type="text" class="form-control" [(ngModel)]="taskNuove" placeholder="Aggiungi task" />
        <button class="btn btn-primary" (click)="addTask()"><i class="bi bi-plus-circle"></i></button>
      </div>
    </div>
  </div>
</div>
