a{
  text-decoration: none;
}

h5:hover, h4:hover{
  color: rgb(163, 163, 211);
}

.todos:focus {
  color: rgb(8, 41, 250);
}

.completati:focus{
  color: rgb(35, 176, 35);
}
section{
  background-color: #eee;

}

.card{
  background-color: rgb(182, 199, 252);
  animation: 1s ease-out 0s 1 slide;
}


@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-link{
  animation: 2s 1 bounce;
}



@keyframes bounce {
  0% { transform: translateY(-90px); animation-timing-function: ease-in; }
  38% { transform: translateY(0); animation-timing-function: ease-out; }
  55% { transform: translateY(-70px); animation-timing-function: ease-in; }
  72% { transform: translateY(0); animation-timing-function: ease-out; }
  81% { transform: translateY(-50px); animation-timing-function: ease-in; }
  90% { transform: translateY(0); animation-timing-function: ease-out; }
  95% { transform: translateY(-20px); animation-timing-function: ease-in; }
  100% { transform: translateY(0); }
}
