
    <a href="#"><h1 class="text-white bg-primary text-center mb-0 p-3 ">Todo-List</h1></a>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-5">

      <div class="container d-block">
        <ul class="navbar-nav d-flex justify-content-between">
          <li class="nav-item">
            <a class="nav-link text-white mx-5" [routerLink]="['/to-do']" routerLinkActive="active">Todos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white mx-5" [routerLink]="['/completati']" routerLinkActive="active">Completati</a>
          </li>
        </ul>
      </div>
    </nav>
