#audioControl .active svg{
    fill: #00ff00;
   
}

audio{
    display: none;
}

.progress{
    --bs-progress-bg: rgba(255,255,255,0.2) !important;
    height: 4px !important;
}

#audioControl .active{
    position: relative;
   
}

#audioControl .active::before{
    height: 2px;
    width: 2px;
    content: '';
    fill: #00ff00;
    background-color: #00ff00;
    border-radius: 2rem;
    bottom: 5%;
    right: 50%;
    position: absolute;
}

#barContainer p{
    margin-bottom: 0px;
    margin: 0px 8px !important;
}

.selected{
    background-color: rgba(100%, 100%, 100%, 0.2);
  }

  #msg{
    width: 60%;
   background-color: rgba(255,255,255,0.2);
   border-radius: 8px;
   border: none;
  }

  #txt{
    width:50%;
  }

  #txt input{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    max-width: 100%;
  }

  #navBack{
    display: table;
    height: 60px;
    width: 60px;
    background-color: rgba(50,50,50,0.7);
    cursor: pointer;
    transition: all 1s ease 0s;
    
  }

  #navBack span{
    display: table-cell;
    margin: 0 auto;
  }

  #navBack:hover{
    transform: scale(1.2);
    background-color: #00ff0077;
  }

  #currentArtist{
    color: white;
    font-size: 0.6rem;
  }

  #currentTitle {
    color:rgba(100%, 100%, 100%, 0.7);
    font-size: 0.6rem;
  }

  .mobile{
    display: none;
  }

  #audioControl a{
    cursor: pointer;
  }


  @media screen and (max-width: 768px){
    #current{
        display: none;
    }

    .colore-sfondo2{
        background-color: transparent !important;
    }

    #barContainer, #audioControl{
        display: none !important;
    }

    .mobile{
        display: block;
      }
  }
  